.message-alert {
    padding: 20px;
    background-color: #ff9800;
    color: white;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.message-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}