/*!* Chat window *!*/

/*.aside{*/
/*    margin-left:0; margin-right:auto;*/
/*    top: 15%;*/
/*}*/
.chat-2 {
    width: 50%;
    display: table;
    float: right;
    padding-left: -4px;
    margin: 40px 8px 8px;
}

body {
    background-color: #2F4F4F;
}

/*!* Send message *!*/
.send-message {
    position: fixed;
    border: solid #2F4F4F;
    box-sizing: border-box;
    margin-top: 50px;
    display: table;
}

.send-message-container {
    width: 400px;
    padding: 5px;
}

.send-message-container .user {
    width: 80%;
    margin: 5px 0 22px 0;
    border: none;
    resize: none;
    height: 40px;
}

.send-message-container textarea {
    width: 100%;
    margin: 5px 0 22px 0;
    resize: none;
    border: none;
    min-height: 100px;
}

.send-message-container textarea:focus {
    background-color: #008B8B;
    border-color: rgba(229, 103, 23, 0.8);
}

.send-message-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.send-message-container .btn:hover{
    opacity: 1;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.chat-window-message-content{
    padding: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.template_one_chat {
    visibility: hidden;
    display:none;
}
