<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>BasicServlet</servlet-name>
        <servlet-class>servlet.BasicServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/servlet.BasicServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet.LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaginationServlet</servlet-name>
        <servlet-class>servlet.PaginationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PaginationServlet</servlet-name>
        <url-pattern>/servlet.PaginationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>servlet.UpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/servlet.UpdateServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.DownloadServlet </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/servlet.DownloadServlet </url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/servlet.SearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>servlet.SignoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/servlet.SignoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AttachmentServlet</servlet-name>
        <servlet-class>servlet.AttachmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AttachmentServlet</servlet-name>
        <url-pattern>/servlet.AttachmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostDeleteServlet</servlet-name>
        <servlet-class>servlet.PostDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PostDeleteServlet</servlet-name>
        <url-pattern>/servlet.PostDeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransformServlet</servlet-name>
        <servlet-class>servlet.TransformServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TransformServlet</servlet-name>
        <url-pattern>/servlet.TransformServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>filters.CacheFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CacheFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>